.orders-container {
    margin: 20px;
  }
  
  .order {
    border: 1px solid rgb(10, 10, 10);
    padding: 20px;
    background-color: beige;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .order-delivered {
    background-color: green;
  }
  
  
  .delivery-details {
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(226, 226, 204);
  }
  
  .cart-places {
    margin-top: 10px;
  }
  
  .place {
    margin-bottom: 10px;
  }
  
  .place-title {
    font-weight: bold;
  }
  
  .place-description {
    font-style: italic;
  }
  
  .place-price {
    font-weight: bold;
  }
  .mark-delivered-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #428bca;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .mark-delivered-btn:hover {
    background-color: #3071a9;
  }
  
  p {
    margin: 5px 0;
  }
  
  .no-orders {
    margin: 20px;
  }
  

 /* OrdersPage.css */

.status-buttons {
  margin-top: 10px;
}

.status-buttons button {
  margin-right: 10px;
  background-color: #ffbb00;
  color: #160202;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.status-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.filter-button1 {
  background-color: #eeae00;
  margin: 10px;
  border-radius: 4px;
  border: none;
    padding: 5px 10px;
}

.filter-button1:hover {
  background-color: #ffbb00; /* Change the background color on hover */
  
}

.filter-button2 {
  background-color: rgb(1, 230, 1);
  border-radius: 4px;
  border: none;
    padding: 5px 10px;
}

.filter-button2:hover {
  background-color: lime; /* Change the background color on hover */
}

.filter-button3 {
  background-color:rgb(219, 0, 0);
  border-radius: 4px;
    padding: 5px 10px;
    border: none;
  margin: 10px;
}

.filter-button3:hover {
  background-color: rgb(255, 10, 10); /* Change the background color on hover */
}
