.orders-container {
    margin: 20px;
  }
  
  .order {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .order-delivered {
    background-color: green;
  }
  
  
  .delivery-details {
    margin-bottom: 10px;
  }
  
  .cart-places {
    margin-top: 10px;
  }
  
  .place {
    margin-bottom: 10px;
  }
  
  .place-title {
    font-weight: bold;
  }
  
  .place-description {
    font-style: italic;
  }
  
  .place-price {
    font-weight: bold;
  }
  .mark-delivered-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #428bca;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .mark-delivered-btn:hover {
    background-color: #3071a9;
  }
  
  p {
    margin: 5px 0;
  }
  
  .no-orders {
    margin: 20px;
  }
  