 
 
  .main3{

    margin-top: 90px;
    background: #3c3c3c;
    border-bottom: 2px solid  var(--main); ;
    
  }
  
  .perksList li::before {
    content: "\2714";
    display: inline-block;
    width: 1em;
    margin-right: 0.5em;
    color:var(--main);
    font-weight: bold;
  }

  .perksList {
    column-count: 3;
    column-gap: 1rem;
    font-size: 10.5px;
  }
  
  .carousel-item {
    object-fit: contain;
    width: 100%;
    height: 100%;
    
  }
  .carousel {
    
    overflow: hidden;
  }

  .noDotList {
    list-style-type: none;
  }
  /* Styling for main container */
.m2 {
  margin: -11px auto;
  max-width: 1250px;
   
  padding: 20px;
  background-color: #3c3c3c;
   
  border-radius: 5px;
}

/* Styling for price container */
.containere {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.containere > div {
  margin-bottom: 20px;
  border: 2px solid var(--main);
  box-shadow: 0px 2px  10px  var(--main);
  padding: 20px;
   
  border-radius: 5px;
  color: wheat;
  background-color: rgba(0, 0, 0, 0.863);
}

.containere > div.infoContainer {
  flex-basis: 68%;
}

.containere > div.contContainer {
  flex-basis: 28%;
  height: 215px;
}

.containere > div:last-of-type {
  margin-bottom: 0;
}

.containere > div:hover {
  border-color: #f08024;
}

.infoContainer {
  display: flex;
 
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.infoColumn {
  display: flex ;
  flex-direction: column;
  flex-basis: 48%;
  margin-bottom: 10px;
}

.infoRow {
  display: flex  ;
  justify-content: space-between;
  align-items: center;
  font-size:  medium;
  font-weight: 700;
  margin-bottom: -7px;
  margin-left: -4px;
}

.infoContainer h3,
.contContainer h2 {
  margin: 0;
  
  font-weight: bold;
  text-transform: uppercase;
}

.infoContainer h4,
.contContainer p {
  margin: 0;
   
}

.desContainer button {
  background-color: #e26c18;
  color: white;
  font-weight: bold;
  border: none;
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.desContainer button:hover {
  background-color: #f08024;
}

.desContainer {
   font-size: 22px;
  margin-bottom: 20px;
  border: 2px solid var(--main);
  padding: 20px;
  box-shadow: 0px 2px  10px  var(--main);;
  border-radius: 5px;
  color: wheat;
  background-color: rgba(0, 0, 0, 0.863);
}

.desContainer h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  
  text-transform: uppercase;
}

.desContainer p {
  margin: 0;

}

 


@media screen and (max-width: 768px) {
   
  .perksList {
    column-count: 2;
    column-gap: 1rem;
  }

   
    .containere > div.infoContainer {
      flex-basis: 100%;
    }

    
  
    .containere > div.contContainer {
      flex-basis: 100%;
      height: 134px;
      font-size: 10.5px;
    }
  
    .infoContainer h5 {
      margin-right: 20vw;
      }
  
      .desContainer {
        font-size: 14.5px;
      }
  .m2{
    margin-left: 5px;
    margin-right: 5px;
  }

  


}



















@media (max-width: 733px) {
  .carousel-container {
    height: auto;
  }
  .carousel-inner {
    height: auto;
  }
  .carousel-item {
    height: auto;
  }
  .d-block {
    width: 100%;
    height: auto;
    max-height: 100vh;
    object-fit: contain;
  }
  .main3 {
    margin-top: 80px;
  }
  .infoRow{font-size:  10px;
    font-weight: 700;}


    
    
}

  
  
.car-vertical-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #393939;
  padding: 16px;
  border-radius: 8px;
}

.car-vertical-label {
  font-size:  12px;
  margin-bottom: 8px;
}

.car-vertical-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}



.car-vertical-input {
  width: 170px;
  height: 20px;
  font-weight: 700;
  border: none;
  padding: 8px;
  margin-right: 8px;
  font-size:  10px;
  border-radius: 4px;
}

.car-vertical-button {
  background-color: var(--main);
  color: #fff;
  border: none;
  padding: 2px 5px;
  font-size:  10px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.car-vertical-button:hover {
  background-color: #71330e;
}




.car-vertical-banner-container {
  position: relative;
  overflow: hidden;
}

.car-vertical-banner-container img {
  display: inline-block;
  animation: marquee 140s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
