.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #00000096;
    backdrop-filter: blur(10px);
    padding: 20px;
    border: solid 1px var(--main);
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .popup__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .popup__message {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .popup__button {
    margin-top: 15px;
    display: block;
    padding: 0px 5px;
    background-color: #0000005c;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .popup.show {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .popup.hide {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.5);
  }
  
  .popup__button:hover {
    background-color: #00000019;
  }
  